
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1f1f1f;
    color: white;
    margin: 0; 
    padding: 0;
}
header {
    background: #272727;
    color: #FFF;
    padding: 20px;
    text-align: center;
}
.aboutme {
    color: white;
}
.about {
    text-align: center;
}
section {
    padding: 20px;
    margin: 10px auto;
    max-width: 600px;
    background: #303030;
    border-radius: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    color: white;
}
h2 {
    color: #616161;
}
.projects {
    color: white;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #202020;
    color: #eee;

}
.sociallinks {
    margin-top: 10px;
}
.sociallinks > a {
    margin: 0 10px;
    color: #eee ;
    text-decoration: none;
    font-weight: white;
    
}
.sociallinks > a:hover {
   text-decoration: underline;
}

footer > p {
    color: white;
    font: weight 12px;
}
 .email:hover {
    font-size: 16px;
 }
  .instagram:hover {
    font-size: 16px;
 }
  .github:hover {
    font-size: 16px;
 }
 
 /*Project list*/

 .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;


 }
 .project-card {
    background-color: #343434;
    padding: 15px;
    border-radius: 8px;
    width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.113);
    transition: transform 0.2s;
    margin-left: 0px;
    margin-bottom: 50px;
    text-align: center;
    
 }
.toggle-label {
    display: block;
    cursor: pointer;

#Clickme-btn {
      display: inline-block;
   padding: 8px; 
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 6px;
   text-decoration: none;
   font-weight: bold;
   transition: background-color 0.2s ease;
   margin-left: 15px;

}
}
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    color: white;
}
.toggle-box:checked + .block + .content {
    max-height: 1000px;
}


 .project-card:hover {
    transform: translateY(-5px);
 }

 .project-card > h3 {
    margin-top: 0;
    color: white;
    text-align: center;
 }

 .project-card > p {
    font-size: 14px;
    color: whitesmoke;
 }

 .project-card > a {
   display: inline-block;
   padding: 8px; 
   background-color: #007bff;
   color: white;
   border: none;
   border-radius: 6px;
   text-decoration: none;
   font-weight: bold;
   transition: background-color 0.2s ease;
 }

 .project-card > a:hover {
    background-color: #014187;
    
 }

 nav {
    position: sticky;
    background-color: #3b3b3f;
    top: 0;
    z-index: 100;
    text-decoration: none;
    font-weight:bold;
    
 }
 .navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin: 0;
    gap: 20px;
 }

 .navbar > li > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;


 }
 .navbar > li:hover {
    font-size: 16px;
    text-decoration: underline;
    text-decoration: underline white;
 }    

 hr {
    width: 50px;

 }
 section > h2 {
    text-align: center;
    color: orange;
 }